{% extends 'base.html' %}
{% block content %}


<div class="content">

     <!-- ------------------------- Nav bar ----------- -->
    <div class="row topnav">
        <div class="amcls">
            AM.
        </div>
        <div class="menus">
            <a href="#" class="active">Home</a>
            <a href="#">About us</a>
            <a href="#">Resumes</a>
            <a href="#">Services</a>
            <a href="#">Portfolio</a>
            <a href="#">Pricing</a>
            <a href="#">contact</a>
        </div>
    </div>

    <div class="rectangle ">
        <div class="row">
            <div class="group1">
                <div class="hello">
                    <div class="helloiam">Hello,IM <div class="name">AliMorshedlou</div></div>
                </div>
                <div class="designer">
                    Creative Designer
                </div>
                <div class="desc ">
                    Freelancer Web/ Mobile UI/UX Designer with Motion Graphics
                </div>
                <div class="btns">
                    <div class="hirebtn ">
                        <div class="hireme">Hire Me</div>
                    </div>
                    <div class="resumebtn">
                        <div class="resume">Get Resume</div>
                    </div>
    
                </div>
            </div>
            <div class="profilebox">
                <div class="profileimg">
                    <img src="https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fG1hbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="profile_pic" alt="profile picture">
                </div>
            </div>
        </div>
        <div class="shape">
            <div class="box "></div>
        </div>
    </div>
    <div class="title">
        <div class="about">About Us</div>
        <div class="w_ch_me">Why Choose Me?</div>
        <div class="rectanglegrp">
            <div class="line"></div>
            <div class="rectangle416"></div>
        </div>
    </div>
    <div class="bg row">
        <div class="clip">
            <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="    width: 541px;
            height: 647px;">
        </div>
        <div class="aboutext">
            <div class="abtwchme">
                Why Choose me ?
            </div>
            <div class="aboutus">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
            </div>
            <div class="features">Here is Few Features:</div>
            <div class="circle1"></div>
            <div class="c1content">User Interface Design</div>
            <div class="circle1"></div>
            <div class="c2content">User Experience Design</div>
            <div class="circle1"></div>
            <div class="c2content">Visual Commination Design</div>
            <div class="circle1"></div>
            <div class="c2content">Interaction Design</div>
            <div class="circle1"></div>
            <div class="c2content">Supper Support</div>
            <div class="about_hire"><div class="about_hiretext">Hire Me</div></div>
            <div class="about_resumebtn"><div class="about_resumetext">Get resume</div></div>
        </div>
    </div>
    <div class="service_title">
        <div class="services">Services</div>
        <div class="service_text">What We Provide You ?</div>
        <div class="service_rectangle">
            <div class="service_line"></div>
            <div class="service_rectanglebox"></div>
        </div>
    </div>
    <div class="wedesign_card" >
        <div class="container" style="background-color: #7434e5;">
            <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
              <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#7434e5;">
                <i class="fa fa-desktop " aria-hidden="true" style=" width: 69px;height: 65px;    margin-top: 86px;color: white;
        margin-left: 160px;font-size: 56px;position: sticky"></i>
              </path>
            </svg>
          </div>
        
        <div class="web_text">Web Design</div>
        <div class="web_desc">Lipsum as it is sometimes known is dummy text used in laying out print, graphic or web designs.</div>
    </div>
    <div class="interface_design">
        <div class="container" style="background-color: #e5af1b;">
            <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
              <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#e5af1b;">
                <i class="fa fa-desktop " aria-hidden="true" style=" width: 69px;height: 65px;    margin-top: 86px;color: white;
        margin-left: 160px;font-size: 56px;position: sticky"></i>
              </path>
            </svg>
          </div>
        <div class="interface_text">Interface Design</div>
        <div class="interface_desc">Lipsum as it is sometimes known is dummy text used in laying out print, graphic or web designs.</div>
    </div>
    <div class="web_dev">
        <div class="container" style="background-color: #d72d66;">
            <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
              <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#d72d66">
                <i class="fa fa-desktop " aria-hidden="true" style=" width: 69px;height: 65px;    margin-top: 86px;color: white;
        margin-left: 160px;font-size: 56px;position: sticky"></i>
              </path>
            </svg>
          </div>
        <div class="interface_text">Web Development</div>
        <div class="interface_desc">Lipsum as it is sometimes known is dummy text used in laying out print, graphic or web designs.</div>
    </div>
    <div class="ux_design">
        <div class="container" style="background-color: #e74e1d;">
            <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
              <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#e74e1d">
                <i class="fa fa-desktop " aria-hidden="true" style=" width: 69px;height: 65px;    margin-top: 86px;color: white;
        margin-left: 160px;font-size: 56px;position: sticky"></i>
              </path>
            </svg>
          </div>
        <div class="interface_text">UX Design</div>
        <div class="interface_desc">Lipsum as it is sometimes known is dummy text used in laying out print, graphic or web designs.</div>
    </div>
    <div class="motion_graphic">
        <div class="container" style="background-color: #08a0e5">
            <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
              <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#08a0e5">
                <i class="fa fa-desktop " aria-hidden="true" style=" width: 69px;height: 65px;    margin-top: 86px;color: white;
        margin-left: 160px;font-size: 56px;position: sticky"></i>
              </path>
            </svg>
          </div>
        <div class="interface_text">Motion Graphic</div>
        <div class="interface_desc">Lipsum as it is sometimes known is dummy text used in laying out print, graphic or web designs.</div>

    </div>
    <div class="seo">
        <div class="container" style="background-color: #399b36">
            <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
              <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#399b36">
                <i class="fa fa-desktop " aria-hidden="true" style=" width: 69px;height: 65px;    margin-top: 86px;color: white;
        margin-left: 160px;font-size: 56px;position: sticky"></i>
              </path>
            </svg>
          </div>
        <div class="interface_text">SEO Optimize</div>
        <div class="interface_desc">Lipsum as it is sometimes known is dummy text used in laying out print, graphic or web designs.</div>

    </div>
    <div class="client_title">Clients Details</div>
    <div class="client_details">What We Provide You ?</div>
    <div class="clent_linebox">
        <div class="clent_line"></div>
        <div class="clent_rectangle"></div>
    </div>
    <div class="namebox1">
        <div class="userbox1">
            <div class="user_icon"><i class="fa fa-user icon"></i></div>
            <div class="name1">NAME</div>
            <div class="email1">E-mail</div>
        </div>
    </div>
    <div class="namebox2">
        <div class="userbox2">
            <div class="user_icon"><i class="fa fa-user icon"></i></div>
            <div class="name1">NAME</div>
            <div class="email1">E-mail</div>
        </div>
    </div>
    <div class="namebox3">
        <div class="userbox2">
            <div class="user_icon"><i class="fa fa-user icon"></i></div>
            <div class="name1">NAME</div>
            <div class="email1">E-mail</div>
        </div>
    </div>
    <div class="namebox4">
        <div class="userbox2">
            <div class="user_icon"><i class="fa fa-user icon"></i></div>
            <div class="name1">NAME</div>
            <div class="email1">E-mail</div>
        </div>
    </div>
    <div class="namebox5">
        <div class="userbox2">
            <div class="user_icon"><i class="fa fa-user icon"></i></div>
            <div class="name1">NAME</div>
            <div class="email1">E-mail</div>
        </div>
    </div>
    <div class="namebox6">
        <div class="userbox2">
            <div class="user_icon"><i class="fa fa-user icon"></i></div>
            <div class="name1">NAME</div>
            <div class="email1">E-mail</div>
        </div>
    </div>
    <div class="diagonal_line"></div>
    <div class="resume_card diagonal_line ">
        <div class="resume1">
            <div class="resume_text">Resume</div>
            <div class="resume_content">My formal Bio Details
            <div class="resume_linebox">
                <div class="resume_line">
                    <div class="resume_linerectangle"></div>
                </div>
                
                
            </div>
        </div>
        </div>

        <!-- RESUME -->
        <div class="row" style="    transform: rotate(5deg);">
            <div class="resume_leftContent">
                <div class="row">
                    <div class="resume_iconLine">
                        <div class="work_iconbox">
                            <div class="row">
                                <i class="fa fa-clock-o icongrd" aria-hidden="true"></i>
                                <div class="work_text"> Work History</div>
                            </div>
                            

                        </div>
                        <div class="pgm_icon">
                            <div class="row">
                                <i class="fa fa-desktop icongrd" aria-hidden="true" style="font-size: 21px;margin-top: 18px;"></i>
                                <div class="pgm_text"> Programming Skill</div>
                            </div>
                        </div>
                        <div class="des_icon">
                            <div class="row">
                                <i class="fa fa-desktop icongrd" aria-hidden="true" style="font-size: 21px;margin-top: 18px;"></i>
                                <div class="des_text"> Designer Skills</div>
                            </div>
                        </div>
                        <div class="seo_icon">
                            <div class="row">
                                <i class="fa fa-desktop icongrd" aria-hidden="true" style="font-size: 21px;margin-top: 18px;"></i>
                                <div class="work_text" style="margin-left:49px"> SEO Skills</div>
                            </div>
                        </div>
                    </div>
                    <div class="education_grp ">
                        <div class="row">
                            <div class="edu_usericon"><i class='fa fa-user icongrd'></i></div>
                            <div class="education"> Education</div>
                        </div>  
                    </div>              
                </div>
            </div>
            
            <div class="resume_rightContent">
                <div class="row">
                    <div class="col">
                        <div class="line_with_circle">
                            <div class="line2">
                                <div class="ecclipse1"></div>
                                <div class="ecclipse2"></div>
                                <div class="ecclipse3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="educatio1">
                            <div class="row">
                                <div class="edu1_text">Calicut University </div>
                                <div class="yearbtn">
                                    <div class="year">2010-2014</div>
                                </div>
                            </div>
                            <div class="edu1_course">B.sc in Computer Engineer</div>
                            <div class="edu1_des">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</div>
                        </div>
                        <div class="education2">
                            <div class="row">
                                <div class="edu2_text">Calicut University</div>
                                <div class="yearbtn">
                                    <div class="year">2010-2014</div>
                                </div>
                            </div>
                            
                            <div class="edu1_course">B.sc in Computer Engineer</div>
                            <div class="edu1_des">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</div>
                        </div>
                        <div class="education2">
                            <div class="row">
                                <div class="edu2_text">Calicut University</div>
                                <div class="yearbtn">
                                    <div class="year">2010-2014</div>
                                </div>
                            </div>
                            
                            <div class="edu1_course">B.sc in Computer Engineer</div>
                            <div class="edu1_des">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</div>
                        </div>
                        
                    </div>
                </div>
                
                
            </div>
        </div>
        
       
        
    </div>

     <!-- PORTFOLIO -->
     <div class="portfoloi_box">
        <div class="portfolio_text">Portfolio</div>
        <div class="poetfolio_desc">Check in Our Latest Works</div>
        <div class="portfolio_linebox">
            <div class="portfolio_line">
                <div class="portfolio_rectangle"></div>
            </div>
            
        </div>
    </div>
    <div class="portfolio_btns">
        <div class="all_work_btn"></div>
        <div class="portfolio_names row">
            <div class="all_work">All Work</div>
            
            <div class="portfolio_menus">
                <div class="portfolio_illustration">Illustration</div>
                <div class="portfolio_animation"> Animation </div>
                <div class="portfolio_app">App UI </div>
                <div class="portfolio_web">Web UI </div>
                <div class="portfolio_social">Social Media </div>
                <div class="portfolio_print">Print design</div>
            </div>
        </div>
    </div>
    <div class="slider mySlides fade ">
        <div class="row">
            <div class="slider_img ">
                <img src="https://images.unsplash.com/photo-1558655146-d09347e92766?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGVzaWdufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="left: 375px;
                width: 370px;">
            </div>
            <div class="slider_img2 ">
                <img src="https://images.unsplash.com/photo-1558655146-d09347e92766?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGVzaWdufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="left: 375px;
                width: 370px;">
            </div>
            <div class="slider_img3 ">
                <img src="https://images.unsplash.com/photo-1558655146-d09347e92766?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGVzaWdufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="left: 375px;
                width: 370px;">
            </div>
        </div>

    </div>
    <div class="slider mySlides fade ">
        <div class="row">
            <div class="slider_img ">
                <img src="https://images.unsplash.com/photo-1661956602139-ec64991b8b16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MjJ8fGRlc2lnbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="left: 375px;
                width: 370px;height: 440px;">
            </div>
            <div class="slider_img2 ">
                <img src="https://images.unsplash.com/photo-1661956602139-ec64991b8b16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MjJ8fGRlc2lnbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="left: 375px;
                width: 370px;height: 440px;">
            </div>
            <div class="slider_img3 ">
                <img src="https://images.unsplash.com/photo-1661956602139-ec64991b8b16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MjJ8fGRlc2lnbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="left: 375px;
                width: 370px;height: 440px;">
            </div>
        </div>

    </div>
    <div class="slider_dots">
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
          </div>
    </div>

    <div class="pricing_card diagonal_line">
        <div class="pricing_box">
            <div class="pricing_text">Pricing</div>
            <div class="pricing_desc">Check our Services package</div>
            <div class="pricing_lineBox">
                <div class="pricing_line">
                    <div class="pricing_rectangle"></div>
                </div>
            </div>
        </div> 
        <div class="row" style="transform: rotate(5deg);">
            <div class="basic_card">
                <div class="basic_top">
                    <center style="padding-top: 25px;">
                        <div class="basic_text">Basic</div>
                        <div class="basic_rate">$70</div>
                        <div class="basic_desc">Only PSD Design</div>
                    </center>
                    
                </div>
                <div style="padding-top: 6px;padding-left: 100px;" class="basic_ticks_line row">
                    <div class="col">
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                    </div>
                    <div class="col" style="padding-top: 32px;padding-left: 30px;">
                        <div class="basic_menus">Graphic Designing</div>
                        <div class="basic_menus" style="margin-top: 30px;">Web Design </div>
                        <div class="basic_menus" style="margin-top: 30px;">UI/UX Design  </div>
                        <div class="basic_menus" style="margin-top: 30px;">HTML & CSS  </div>
                        <div class="basic_menus" style="margin-top: 30px;">SEO Optimize </div>
                        <div class="basic_menus" style="margin-top: 30px;">Business Develop </div>
                        
                    </div>
                </div>
                <div class="choosebtn">
                    <div class="chooseplan_text">Choose plan</div>
                </div>
               
            </div>
            <div class="standard_card">
                <div class="standard_top">
                    <center style="padding-top: 25px;">
                        <div class="basic_text">Standard</div>
                        <div class="basic_rate">$100</div>
                        <div class="basic_desc">Only PSD Design</div>
                    </center>
                </div>
                <div style="padding-top: 6px;padding-left: 100px;" class="basic_ticks_line row">
                    <div class="col">
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                    </div>
                    <div class="col" style="padding-top: 32px;padding-left: 30px;">
                        <div class="basic_menus">Graphic Designing</div>
                        <div class="basic_menus" style="margin-top: 30px;">Web Design </div>
                        <div class="basic_menus" style="margin-top: 30px;">UI/UX Design  </div>
                        <div class="basic_menus" style="margin-top: 30px;">HTML & CSS  </div>
                        <div class="basic_menus" style="margin-top: 30px;">SEO Optimize </div>
                        <div class="basic_menus" style="margin-top: 30px;">Business Develop </div>
                        
                    </div>
                </div>
                <div class="choosebtn2">
                    <div class="chooseplan_text">Choose plan</div>
                </div>
            </div>
            <div class="premium_card">
                <div class="premium_top">
                    <center style="padding-top: 25px;">
                        <div class="basic_text">Premium</div>
                        <div class="basic_rate">$150</div>
                        <div class="basic_desc">Only PSD Design</div>
                    </center>
                </div>
                <div style="padding-top: 6px;padding-left: 100px;" class="basic_ticks_line row">
                    <div class="col">
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                        <div class=""><i class="fa fa-check" style="color:#95A5C6;margin-top: 30px;"></i></div>
                    </div>
                    <div class="col" style="padding-top: 32px;padding-left: 30px;">
                        <div class="basic_menus">Graphic Designing</div>
                        <div class="basic_menus" style="margin-top: 30px;">Web Design </div>
                        <div class="basic_menus" style="margin-top: 30px;">UI/UX Design  </div>
                        <div class="basic_menus" style="margin-top: 30px;">HTML & CSS  </div>
                        <div class="basic_menus" style="margin-top: 30px;">SEO Optimize </div>
                        <div class="basic_menus" style="margin-top: 30px;">Business Develop </div>
                        
                    </div>
                </div>
                <div class="choosebtn3">
                    <div class="chooseplan_text">Choose plan</div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact us -->
    <div class="contact_box">
        <div class="contact_text">Contact Us</div>
        <div class="contact_desc">Let's Keep In Touch</div>
        <div class="contact_linebox">
            <div class="contact_line">
                <div class="contact_rectangle"></div>
            </div>
        </div>
    </div>
    <div class="map_card row">
        <div class="mapouter"><div class="gmap_canvas"><iframe width="2651px" height="807" id="gmap_canvas" src="https://maps.google.com/maps?q=infolks&t=&z=12&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2yu.co">2yu</a><br><style>.mapouter{position:relative;text-align:right;height:807px;width:2651pxpx;}</style><a href="https://embedgooglemap.2yu.co">html embed google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:807px;width:2651pxpx;}</style></div></div>
        <div class="contact_form">
            <div class="get_in_touch">Get in Touch</div>
            <input type="text" class="name_fiels " placeholder="Your Name">
            <input type="text" class="name_fiels " placeholder="Your Email Address"> 
            <input type="text" class="name_fiels " placeholder="Subject"> 
            <input type="text" class="name_fiels " placeholder="Estimated Budget"> 
            <input type="text" class="msg_filed " placeholder="Enter your Message"> 
            <div class="submit_btn">
                <div class="submit_text">Submit</div>
            </div>
        </div>
    </div>
    <div class="coptright row">
        <div class="copyright_text">© 2022 createuiux. All rights reserved.</div>
        <i class="fa fa-facebook-f facebook_icon"></i>
        
    </div>
</div>

{% endblock %}